DB_URL=postgres://username:password@localhost/rpg_shop?sslmode=disable

# Note to self: it's postgres not postgress!
# If your Postgres user has no password:
DB_URL=postgres://localhost/rpg_shop?sslmode=disable

# You can use `openssl rand -hex 64` to generate a jwt_secret
JWT_TOKEN=your_jwt_secret
