DB_URL=postgres://username:password@localhost/rpg_shop?sslmode=disable

# Note to self: it's postgres not postgress!
# If your Postgres user has no password:
DB_URL=postgres://localhost/rpg_shop?sslmode=disable
